<% if (theme.socialLink.github) { %>
    <a href="https://github.com/cardioid-line" class="tooltipped" target="_blank" data-tooltip="访问我的GitHub" data-position="top" data-delay="50">
        <i class="fab fa-github"></i>
    </a>
<% } %>
